@import url('https://fonts.googleapis.com/css?family=Numans');
html,body{

    background-image: url('https://getwallpapers.com/wallpaper/full/1/9/d/31242.jpg');
    display: flex;
    justify-content: center; /* Centre la colonne horizontalement */
    align-items: center; /* Centre la colonne verticalement */
    height: 100vh; /* Utilise toute la hauteur de la fenêtre */
    margin: 0;
}

.container{
    /* height: 100%; */
    align-content: center;
    width: 50%; /* Divise la largeur en deux colonnes */
    padding: 20px;
}

.container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centre l'image horizontalement dans sa colonne */
}

.card{
    height: 580px;
    margin-top: auto;
    margin-bottom: auto;
    width: 430px;
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}

.card-header h3{
    color: white;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    height: 55px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;

}

input:focus{
    box-shadow: 0 0 0 0 !important;
}

.remember input{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}
.input-group{
    margin-bottom: 20px;
}
.input-group input{
    height: 55px;
}
